<!doctype html>
<html lang="{{ app.request.locale }}">
    <head>
        {# Meta #}
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

        {# Title #}
        <title>{% block title '' %} - {{ 'admin.title'|trans }}</title>

        {# Favicons #}
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicons/favicon.ico', 'static') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicons/favicon-32x32.png', 'static') }}">
        <link rel="icon" type="image/png" sizes="48x48" href="{{ asset('favicons/favicon-48x48.png', 'static') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicons/favicon-96x96.png', 'static') }}">
        <link rel="icon" type="image/png" sizes="144x144" href="{{ asset('favicons/favicon-144x144.png', 'static') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicons/apple-touch-icon.png', 'static') }}">
        <link rel="manifest" href="{{ asset('favicons/manifest.json', 'static') }}">
        <link rel="mask-icon" href="{{ asset('favicons/safari-pinned-tab.svg', 'static') }}" color="#09345e">
        <meta name="theme-color" content="#09345e">

        {# Stylesheets #}
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('main.css', 'static') }}" />
        {% endblock %}
    </head>
    <body>

        {% block body '' %}

        {% block javascripts %}
        <script src="{{ asset('jquery.js', 'static') }}"></script>
        <script src="{{ asset('bazinga-translator.js', 'static') }}"></script>
        <script src="{{ url('bazinga_jstranslation_js') }}?locales={{ app.request.locale }}"></script>
        <script src="{{ asset('fos-js-routing.js', 'static') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        <script src="{{ asset('common.js', 'static') }}"></script>
        <script src="{{ asset('vendor.js', 'static') }}"></script>
        <script src="{{ asset('main.js', 'static') }}"></script>
        {% endblock %}
    </body>
</html>
