{% extends 'AppBuildUserBundle::layout.html.twig' %}

{% block title 'user.edit.title'|trans %}

{% block content %}

    <div class="row text-center">
        <h2>{{ 'user.edit.title' | trans }}</h2>
    </div>

    <div class="row text-center margin-bottom-15">
        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}

        <button type="submit" class="btn btn-default">{{ 'user.edit.submit' | trans }}</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
