{% extends 'AppBuildUserBundle::layout.html.twig' %}

{% block title 'user.register.title'|trans %}

{% block content %}

    <div class="row text-center">
        <h2>{{ 'user.register.title' | trans }}</h2>
    </div>

    <div class="row text-center margin-bottom-15">
        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}

        <button type="submit" class="btn btn-default">{{ 'user.register.title' | trans }}</button>
        {{ form_end(form) }}
    </div>

    {% if app.user %}
    <div class="row text-center">
        <a href="{{ url('appbuild_user_logout') }}" class="btn btn-warning">{{ 'user.logout.title' | trans }}</a>
    </div>
    {% else %}
    <div class="row text-center">
        <a href="{{ url('appbuild_user_login') }}" class="btn btn-info">{{ 'user.login.title' | trans }}</a>
    </div>
    {% endif %}

{% endblock %}
