{% extends 'MajoraOTAStoreApplicationBundle::layout.html.twig' %}

{% block content %}
    {{ form_start(form, {'method': 'POST', 'action': block('application_form_action')}) }}
    {{ form_rest(form) }}
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-check"></i>
        {{ 'application.form.submit_button.label'|trans }}
    </button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var currentUserId = '{{ currentUserId }}';
        var applicationSupportIOS = '{{ applicationSupportIOS }}';

        // Check and hide current user from Users list
        // (if this was unchecked by mistake, current user would lost his ability to act on this application)
        $('#majoraotastore_application_users_' + currentUserId)
            .prop('checked', true)
            .closest('.checkbox').hide()
        ;

        // Set up application packageName field visibility.
        $supportField = $('#majoraotastore_application_support');
        setupPackageNameVisibility($supportField);
        $supportField.change(function() {
            setupPackageNameVisibility($supportField);
        });

        /**
         * Show package name field depending on application support.
         *
         * @param {object} $supportField
         */
        function setupPackageNameVisibility($supportField) {
            if ($supportField.val() === applicationSupportIOS) {
                $('#majoraotastore_application_packageName').prop('disabled', false)
                    .closest('.form-group').removeClass('hidden')
                ;
            } else {
                $('#majoraotastore_application_packageName').prop('disabled', true)
                    .closest('.form-group').addClass('hidden')
                ;
            }
        }
    </script>
{% endblock %}
