{% extends 'AppbuildAppBundle:Layout:layout_authenticated.html.twig' %}

{% block content %}
    <header class="row align-middle header-section header-section-title" data-anim-appear>
        <div class="columns">
            <h1 class="title title_header-section">{% block title '' %}</h1>
        </div>
    </header>

    {% include 'AppbuildAppBundle:Includes:form_errors.html.twig' %}

    <form name="appbuild_application" method="post" data-anim-appear data-abide novalidate data-id="{{ form.vars.value.id }}">
        <div class="input-wrap input-wrap_inline">
            <div class="row">
                <div class="columns columns_label columns_label-boxed">
                    <label class="input-wrap__label" for="appbuild_application_label">{{ 'application.form.label.label'|trans }}</label>
                </div>
                <div class="columns columns_input">
                    <input class="input-wrap__input" type="text" id="appbuild_application_label" name="appbuild_application[label]" value="{{ form.vars.value.label }}" placeholder="{{ 'application.form.label.placeholder'|trans }}" required />
                    <span class="form-error">{{ 'application.form.label.error'|trans }}</span>
                </div>
            </div>
        </div>
        <div class="input-wrap input-wrap_inline">
            <div class="row">
                <div class="columns columns_label columns_label-boxed columns_label-multilines">
                    <label class="input-wrap__label" for="desc-app">{{ 'application.form.description.label'|trans }}</label>
                </div>
                <div class="columns columns_input">
                    <textarea class="input-wrap__input" type="text" id="appbuild_application_description" name="appbuild_application[description]" rows="5" placeholder="{{ 'application.form.description.placeholder'|trans }}">{{ form.vars.value.description }}</textarea>
                </div>
            </div>
        </div>
        <div class="input-wrap input-wrap_inline input-wrap_links">
            <div class="row">
                <div class="columns columns_label columns_label-boxed">
                    <label for="plateform-app" class="input-wrap__label">{{ 'application.form.support.label'|trans }}</label>
                </div>
                <div class="columns columns_input">
                    {% for choice in form.support.vars.choices %}
                    <div class="input-wrap__input-radio">
                        <input type="radio" id="appbuild_application_support-{{ choice.value }}" name="appbuild_application[support]" value="{{ choice.value }}" {{ form.vars.value.support == choice.value ? 'checked' : (loop.first ? 'checked') }} {{ (choice.value == 'ios') ? 'data-show-when-checked=".show-for-support-ios" data-required-when-checked=".required-for-support-ios"' }}>
                        <label class="input-wrap__radio" for="appbuild_application_support-{{ choice.value }}"><i class="icon icon-{{ (choice.value == 'ios') ? 'apple' : 'android' }}"></i></label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="input-wrap input-wrap_inline show-for-support-ios">
            <div class="row">
                <div class="columns columns_label columns_label-boxed">
                    <label class="input-wrap__label" for="appbuild_application_packageName">
                        <span>{{ 'application.form.package_name.label'|trans }}</span>
                        <span class="show-for-medium show-for-up-mobile">{{ 'application.form.package_name.description'|trans }}</span>
                    </label>
                </div>
                <div class="columns columns_input">
                    <input class="input-wrap__input required-for-support-ios" type="text" id="appbuild_application_packageName" name="appbuild_application[packageName]" value="{{ form.vars.value.packageName }}" placeholder="{{ 'application.form.package_name.placeholder'|trans }}" />
                    <span class="form-error">{{ 'application.form.package_name.error'|trans }}</span>
                </div>
            </div>
        </div>
        <div class="input-wrap input-wrap_inline show-for-support-ios">
            <div class="input-wrap__file">
                <label class="input-wrap__file-label label" for="appbuild_application_displayImageFile">
                    <span>{{ 'application.form.display_image.label'|trans }}</span>
                    <span>{{ 'application.form.display_image.description'|trans }}</span>
                </label>
                <div class="upload__file small" id="appbuild_application_displayImageFile"></div>
            </div>
            <input type="hidden" id="appbuild_application_displayImageFilename" name="appbuild_application[displayImageFilename]">
        </div>
        <div class="input-wrap input-wrap_inline">
            <div class="input-wrap__file">
                <label class="input-wrap__file-label label" for="appbuild_application_fullSizeImageFile">
                    <span>{{ 'application.form.full_size_image.label'|trans }}</span>
                    <span>{{ 'application.form.full_size_image.description'|trans }}</span>
                </label>
                <div class="upload__file small" id="appbuild_application_fullSizeImageFile"></div>
            </div>
            <input type="hidden" id="appbuild_application_fullSizeImageFilename" name="appbuild_application[fullSizeImageFilename]">
        </div>
        <div class="row input-wrap input-wrap_block" data-select-filter>
            <div class="columns columns_label columns_label-boxed">
                <label class="input-wrap__label" for="appbuild_application_users">{{ 'application.form.users.label'|trans }}</label>
            </div>
            <div class="columns columns_input">
                <div class="input-wrap__search">
                    <input class="input-wrap__input input-wrap__input-search" type="search" id="appbuild_application_users" placeholder="{{ 'application.form.users.placeholder'|trans }}" />
                    <ul class="search__results" data-select-filter-options>
                        {% for choice in form.users.vars.choices %}
                        <li class="search__result" data-select-filter-option data-id="{{ choice.value }}" data-name="appbuild_application[users][]" {{ choice.value in form.users.vars.value ? 'data-selected' }}>
                            <span><strong>{{ choice.data.firstname }} {{ choice.data.lastname }}</strong><span>{{ ('user.roles.'~choice.data.role~'.label')|trans }}</span></span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {# TODO create users from application create/update form #}
            {#<div class="columns shrink">#}
                {#<a data-open="modal-create-user" class="button button_action button_navigation button_input-wrap-side"><span>créer un nouvel utilisateur</span></a>#}
            {#</div>#}
            <div class="columns columns_offset small-12" data-select-filter-results>
                <div class="columns_options" data-select-filter-results-elems></div>
                <div class="columns_options__action">
                    <a class="button button_action" data-select-filter-delete-button><span>{{ 'application.form.users.remove_button'|trans }}</span></a>
                </div>
            </div>
        </div>
        <div class="form-actions row align-justify">
            <div class="columns row-buttons">
                <button type="submit" class="button button_action button_confirm">
                    <span>{{ 'application.form.submit.label'|trans }}</span>
                </button>
                <a href="{{ url('appbuild_admin_application_list') }}" class="button button_action">
                    <span>{{ 'application.form.cancel.label'|trans }}</span>
                </a>
            </div>
            <div class="columns row-buttons">
                {% block extra_buttons '' %}
            </div>
        </div>
        {{ form_row(form._token) }}
    </form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ include('AppbuildAppBundle:Includes:upload-container-template.html.twig') }}
    <script src="{{ asset('application-form.js', 'static') }}"></script>
{% endblock %}
