{% extends 'MajoraOTAStoreApplicationBundle::layout.html.twig' %}

{% block content %}
    {{ form_start(form, {'method': 'POST', 'action': block('application_form_action'), 'attr': {
        'data-current-user-id': currentUserId,
        'data-application-support-ios': applicationSupportIOS,
    }}) }}
    {{ form_rest(form) }}
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-check"></i>
        {{ 'application.form.submit_button.label'|trans }}
    </button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/application-form.js') }}"></script>
{% endblock %}
