{% extends 'MajoraOTAStoreAppBundle:Layout:layout_authenticated.html.twig' %}

{% block title 'user.list.title'|trans %}

{% block content %}

    <header class="row align-middle header-section" data-anim-appear>
        <div class="columns">
            <h1 class="title title_header-section">{{ 'user.list.title'|trans }}</h1>
        </div>
        <div class="columns shrink row-buttons show-for-medium show-for-up-mobile">
            <a href="{{ url('majoraotastore_admin_user_create') }}" class="button button_navigation">
                <span>{{ 'user.create.title'|trans }}</span>
            </a>
            {% if app.request.get('enabled', true) %}
            <a href="{{ url('majoraotastore_admin_user_list', { enabled: false }) }}" class="button button_navigation">
                <span>{{ 'user.list.buttons.disabled_users'|trans }}</span>
            </a>
            {% else %}
            <a href="{{ url('majoraotastore_admin_user_list') }}" class="button button_navigation">
                <span>{{ 'user.list.buttons.enabled_users'|trans }}</span>
            </a>
            {% endif %}
        </div>
    </header>

    <article class="table">
        <div class="table__row table__row-head" data-anim-appear>
            <div class="table__cell table__cell-head table__cell-head-role table__cell_shrink">
                <div class="table__cell-head__content">{{ 'user.list.thead.role'|trans }}</div>
            </div>
            <div class="table__cell table__cell-head table__cell-head-mail">
                <div class="table__cell-head__content">{{ 'user.list.thead.email'|trans }}</div>
            </div>
            <div class="table__cell table__cell-head table__cell-head-firstname">
                <div class="table__cell-head__content">{{ 'user.list.thead.firstname'|trans }}</div>
            </div>
            <div class="table__cell table__cell-head table__cell-head-lastname show-for-medium">
                <div class="table__cell-head__content">{{ 'user.list.thead.lastname'|trans }}</div>
            </div>
            <div class="table__cell table__cell-head table__cell-head-action table__cell_shrink show-for-medium show-for-up-mobile">
                <div class="table__cell-head__content"></div>
            </div>
        </div>

        {% for user in page.elements %}
        <div class="table__row table__row-body" data-anim-appear>
            <div class="table__cell table__cell-body table__cell-role table__cell_shrink">
                <div class="table__cell__content">
                    <span class="label-role label-role_{{ (user.role == 'ROLE_SUPER_ADMIN') ? 'superadmin' : (user.role == 'ROLE_ADMIN') ? 'admin' : 'downloader' }}">{{ ('user.roles.'~user.role~'.letter')|trans }}</span>
                </div>
            </div>
            <div class="table__cell table__cell-body table__cell-mail">
                <div class="table__cell__content">
                    <p class="comment line">{{ user.email }}</p>
                </div>
            </div>
            <div class="table__cell table__cell-body table__cell-firstname">
                <div class="table__cell__content">
                    <p>{{ user.firstname }}</p>
                </div>
            </div>
            <div class="table__cell table__cell-body table__cell-lastname show-for-medium">
                <div class="table__cell__content">
                    <p>{{ user.lastname }}</p>
                </div>
            </div>
            <div class="table__cell table__cell-body table__cell-action table__cell_shrink show-for-medium show-for-up-mobile">
                <div class="table__cell__content">
                    <div class="icons-action">
                        <a href="{{ url('majoraotastore_admin_user_update', { id: user.id }) }}" class="icon icon-action icon-update"></a>
                        <a href="{{ url('majoraotastore_admin_user_toggle_enable', { id: user.id }) }}" class="icon icon-action icon-archive show-for-medium show-for-up-mobile"></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </article>

    {% include 'MajoraOTAStoreAppBundle:Includes:paginator.html.twig' %}
{% endblock %}
