<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ 'admin.title'|trans }}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}
      {{ include('AppBuildAppBundle::stylesheets.html.twig') }}
    {% endblock %}
  </head>
  <body class="{% block body_class '' %}">

    {% block menu %}
        {% if app.user %}
            <nav class="navbar navbar-default">
                <div class="container">
                    <p class="navbar-text">{{ 'user.home.title' | trans }}</p>
                    <a href="{{ url('appbuild_admin_application_list') }}" class="btn btn-info navbar-btn">{{ 'admin.application.list.title' | trans }}</a>
                    <a href="{{ url('appbuild_user_register') }}" class="btn btn-info navbar-btn">{{ 'user.register.title' | trans }}</a>
                    <a href="{{ url('appbuild_user_logout') }}" class="btn btn-warning navbar-btn pull-right">{{ 'user.logout.title' | trans }}</a>
                </div>
            </nav>
        {% endif %}
    {% endblock %}

    <main id="container" class="container">
      {% block header %}
      {% endblock %}

      {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>{{ flashMessage }}</strong>
        </div>
      {% endfor %}

      {% block sidebar %}
      {% endblock %}
      {% block container %}
      <section id="main-content">
        <section class="wrapper">
          {% block main %}
          <div class="row">
            <div class="col-lg-12">{% block content '' %}</div>
          </div>
          {% endblock %}
        </section>
      </section>
      {% endblock %}
      {% block footer '' %}
    </main>

    {% block javascripts %}
      {{ include('AppBuildAppBundle::javascripts.html.twig') }}
    {% endblock %}
  </body>
</html>
