{% extends 'AppBuildApplicationBundle::layout.html.twig'%}

{% block title 'admin.application.list.title'|trans %}

{% block header %}
    <h1>{{ 'admin.application.list.title'|trans }}</h1>
    <a href="{{ url('appbuild_admin_application_create') }}" class="btn btn-primary">
        <span class="fa fa-plus"></span>
        {{ 'admin.application.create.title'|trans }}
    </a>
{% endblock %}

{% block content %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <td>{{ 'admin.application.list.thead.label'|trans }}</td>
                <td>Builds</td>
                <td>{{ 'admin.application.list.thead.support'|trans }}</td>
                <td class="actions">
                    {{ 'admin.application.list.thead.actions'|trans }}
                </td>
            </tr>
        </thead>
        <tbody>
        {% for application in applications %}
            <tr>
                <td>
                    <a href="{{ url('appbuild_admin_build_list', { application_id: application.id }) }}">
                        {{ application.label }}
                    </a>
                </td>
                <td>
                    {% for build in application.builds %}
                        <a href="{{ url('appbuild_admin_build_download', { application_id: application.id, id: build.id }) }}">
                            {{ build.label }}
                        </a>
                        <br>
                    {% endfor %}
                </td>
                <td>
                    {{ ('admin.application.supports.'~application.support)|trans }}
                </td>
                <td class="actions">
                    <a class="btn btn-primary btn-xs" title="{{ 'admin.application.list.actions.update.title'|trans }}"
                       href="{{ url('appbuild_admin_application_update', { id: application.id }) }}">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a class="btn btn-primary btn-xs" title="{{ 'admin.application.list.actions.build_list.title'|trans }}"
                       href="{{ url('appbuild_admin_build_list', { application_id: application.id }) }}">
                        <i class="fa fa-list"></i>
                    </a>
                    <a class="btn btn-primary btn-xs" title="{{ 'admin.build.create.title'|trans }}"
                       href="{{ url('appbuild_admin_build_create', { application_id: application.id }) }}">
                        <i class="fa fa-plus"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
